<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044642364414-74m90s29g3e5enk3bb3rifu6pashkdti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044642364414-74m90s29g3e5enk3bb3rifu6pashkdti</string>
	<key>API_KEY</key>
	<string>AIzaSyAwyTtrm8M6ZP1s_UiqIsr5OYvdm8Z_1gs</string>
	<key>GCM_SENDER_ID</key>
	<string>1044642364414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apiWithProvider</string>
	<key>PROJECT_ID</key>
	<string>mock-exam-2934d</string>
	<key>STORAGE_BUCKET</key>
	<string>mock-exam-2934d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044642364414:ios:abc888d41783310fce1eaf</string>
</dict>
</plist>